.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  align-items: center;
  position: relative;
}

.background {
  min-height: 100%;
  min-width: 100%;
  background: url("assets/nature__.jpg") blue;
  position: fixed;
  z-index: -1;
}

body {
  text-align: center;
}

html,
body,
#root,
.topLevel {
  height: 100%;
}

th {
  text-align: center;
  border: 1px solid black;
  background: #018ded;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
